{% extends 'base.html' %}
 
{% block content %}
    
<div class='regform mt-3'> 
  <h1>Adapted from <a href="https://github.com/sharmaji27/sketchy-sketch-making-flask-app/blob/main/app.py">https://github.com/sharmaji27</a></h1>
  <p><img src="../static/images/sketch_sample.png" width="600" height="374"></p>
        <p>allowed images are 'png', 'jpg', 'jpeg'</p>
    </div>

    <form action='/sketcher' class='main-form' method="POST" enctype="multipart/form-data">

        <div class='text-center'>
            <input type="file" id="file" name='file' style="margin-top:10px;margin-bottom:10px;">
            <button type='submit' class='btn btn-outline-success'> Make Sketch
            </button>
        </div>

    </form>

    {% if sketch_img_name %}
	<div class="container">
    <div class="row">
        <div class="col-md-6">
		
      <h2>Uploaded Image</h2>
          <a href='../static/uploads/{{ org_img_name }}'>
		  <img src='../static/uploads/{{ org_img_name }}'
                style="display: block;margin-left: auto;margin-right: auto;width: 50%">
			</a>
        </div>
        <div class="col-md-6">
          <h2>Sketch Image</h2>
		  <a href='../static/uploads/{{ sketch_img_name }}'><img src='../static/uploads/{{ sketch_img_name }}'
                style="display: block;margin-left: auto;margin-right: auto;width: 50%">
				</a>
        </div>
    </div> 
</div>
    {% endif %}

{% endblock %}
